## Basic Of Python

# Printing Concept

In [1]:
#Print Statement Of Hello World
print("Hello World!!!")

Hello World!!!

In [2]:
#print Statement of Characters
print('a','b','c')

a b c

In [4]:
#print Statement of Characters with Usign "_" In Between 
print('a','b','c',sep='_')

a_b_c

In [7]:
#print Statement of Characters with Usign "*" At End 
print('a','b','c',end='*')

a b c*

In [8]:
#Print of X which is Declared First
x=5
print(x)

5

# Input Concept

In [11]:
#Input Of Two Numbers
#We no need to add print statements for Entering No 
#e.g : "Enter The Number"

Num1=input("Enter the 1st Number : ")
Num2=input("Enter the 2nd Number : ")
print(Num1)
print(Num2)

Enter the 1st Number : 4
Enter the 2nd Number : 5
4
5

In [12]:
#input As A String 
A=input("Enter Your Name : ")
print(A)

Enter Your Name : Asim
Asim

# Comments

In [14]:
#There Are Two Ways To Write A Comment
#Using "#"
print(" Hash# Is Use For One Line Comments")
#Using """ This Three Double Code
"""
In that we can write 
Multiple line comments
"""
print("Three Double Code Is Used For Multiple Line Comments")

 Hash# Is Use For One Line Comments
Three Double Code Is Used For Multiple Line Comments

# Operartions

In [16]:
#When We Need to Add Two Numbers Then TypeCasting Is Used
#When We Not Given The Type Of Variable 
#Then

x=input("Enter The 1st Num :")
y=input("Enter The 2nd Num :")
z=x+y
print(z)

Enter The 1st Num :4
Enter The 2nd Num :5
45

In [18]:
#Therefore We Use TypeCasting 
#By This We Can Perform All Types Of Operations

x=input("Enter The 1st Num :")
y=input("Enter The 2nd Num :")
z=int(x)+int(y)
print(z)

Enter The 1st Num :4
Enter The 2nd Num :5
9

# Data Types In Python
There Are 8 Types Of Data Types In Python
1. Integer
2. Float
3. String
4. Complex
5. Boolean
6. List
7. Tuple
8. Set

1. Integer

In [19]:
#x has an integer value 3 

x=int(3)
print(x)

3

2. Float

In [20]:
#x has an Floating value 3 

x=float(3)
print(x)

3.0

3. String

In [21]:
#inserting an string 

x=str("Asim")
print(x)

Asim

4. Complex

In [22]:
#If we want to display an Complex Numbers Then We use complex as a data type
#e.g : 3+2j

cp=complex(3,2)
print(cp)

(3+2j)

5. Boolean

In [3]:
# defination : You can evaluate any expression in Python, and get one of two answers, True or False.

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

# Most Values are True..

print("Most Values are True..")
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

# Some Values are False

print("Some Values are False")
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
Most Values are True..
True
True
True
Some Values are False
False
False
False
False
False
False
False

6. List

In [23]:
#Display Of List
#List Is represent in []

l=['CSE','Mech','Civil','AI']
print(l)

['CSE', 'Mech', 'Civil', 'AI']

#Operations In List

In [1]:
#simple list operation
l=['a','b','c']
print(l)

['a', 'b', 'c']

In [2]:
#insert list operation
l=['CSE','Mech','AI']
l.insert(2,'Civil')
print(l)

['CSE', 'Mech', 'Civil', 'AI']

In [9]:
#Append list operation
l=['CSE','Mech','AI']
l.append("Civil")
print(l)

['CSE', 'Mech', 'AI', 'Civil']

In [10]:
#Extend list operation
l=['CSE','Mech','Civil','AI']
e=['Electrical','Electronic']
l.extend(e)
print(l)

['CSE', 'Mech', 'Civil', 'AI', 'Electrical', 'Electronic']

In [11]:
#Remove Item From List
l=['CSE','Mech','Civil','AI']
l.remove("Civil")
print(l)

['CSE', 'Mech', 'AI']

In [12]:
#if we want to remove on basis of index
l=['CSE','Mech','Civil','AI']
l.pop(2)
print(l)

['CSE', 'Mech', 'AI']

In [13]:
#remove item using del 
l=['CSE','Mech','Civil','AI']
del l[0]
print(l)

['Mech', 'Civil', 'AI']

In [16]:
#remove entire list using clear()
l=['CSE','Mech','Civil','AI']
l.clear()
print(l)

[]

In [6]:
#change item from the list 
l=['CSE','Mech','AI']
l[1]="Electrical"
print(l)

['CSE', 'Electrical', 'AI']

In [4]:
#search in list
l=['CSE','Mech','Civil','AI']
if "AI" in l:
    print("Yes , 'AI' Is A Department In The College ")

Yes , 'AI' Is A Department In The College

7. Tuple

In [11]:
'''
Tuple is a collection which is ordered and unchangeable. Allows duplicate members
Tuples are written with round brackets.
'''
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [6]:
# for length of the tuple 

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [7]:
# Type of Tuple 
# This is  Tuple 
thistuple = ("apple",)       #comma is Important for tuple
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [10]:
# A tuple can contain different data types

tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [15]:
# Access Tuple Items
print("Access Tuple Items")
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

# And Negative Indexing
print("And Negative Indexing")
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

# Actual Tuple Is
print("Actual Tuple Is")
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple)

# Range of Indexes
print("Range of Indexes-- 2:5 ")
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

# type1
print("it is one of the type1-- :4")
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

# type2
print("it is one of the type2-- 2:")
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

# Range of Negative Indexes
print("Range of Negative Indexes-- -4:-1")
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

Access Tuple Items
banana
And Negative Indexing
cherry
Actual Tuple Is
('apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
Range of Indexes-- 2:5
('cherry', 'orange', 'kiwi')
it is one of the type1-- :4
('apple', 'banana', 'cherry', 'orange')
it is one of the type2-- 2:
('cherry', 'orange', 'kiwi', 'melon', 'mango')
Range of Negative Indexes-- -4:-1
('orange', 'kiwi', 'melon')

In [21]:
# As we know Tuples are unchangeable therfore we use the list 
# Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
print(x)
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

# Add the item in the tuple 
print("Add the item in the tuple ")
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

# Add Tuple to Tuple
print("Add Tuple to Tuple")
q = ("apple", "banana", "cherry")
y = ("orange",)
q += y
print(q)

#Remove item 
# To Delete all item --> del command is not applicable here it will show error
p = ("apple", "banana", "cherry")
y = list(p)
y.remove("apple")
p = tuple(y)
print(p)

('apple', 'banana', 'cherry')
('apple', 'kiwi', 'cherry')
Add the item in the tuple
('apple', 'banana', 'cherry', 'orange')
Add Tuple to Tuple
('apple', 'banana', 'cherry', 'orange')
('banana', 'cherry')

In [22]:
# Unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

# Using Asterisk *
print("Using Asterisk *")
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
banana
cherry
Using Asterisk *
apple
['mango', 'papaya', 'pineapple']
cherry

In [23]:
# Joining two Tuples
print("Joining two Tuples")
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

# Multiply the Tuples
print("Multiply the Tuples")
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

Joining two Tuples
('a', 'b', 'c', 1, 2, 3)
Multiply the Tuples
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

8. Set

In [24]:
# Defination : Sets are used to store multiple items in a single variable.
# A set is a collection which is unordered, unchangeable*, and unindexed.
# creating a Set

thisset = {"apple", "banana", "cherry", "apple"} #as Duplicate value not taken by Set [True & 1] & [False & 0] From this it will give only one;
print(thisset)

{'banana', 'cherry', 'apple'}

In [27]:
# Length of Set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

# A set can contain different data types
set1 = {"abc", 34, True, 40, "male"}
print(set1)

# It is also possible to use the set() constructor to make a set.

# check banana is present in the set 
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

3
{True, 34, 'male', 40, 'abc'}
True

In [29]:
# To ADD items in Set Add() is Used
print("ADD items")
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

# To add items from another set into the current set, use the update() method.
print("from another set into the current set")
a = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
a.update(tropical)
print(a)

# Add elements of a list to at set
print("elements of a list")
b = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
b.update(mylist)
print(b)

ADD items
{'orange', 'banana', 'cherry', 'apple'}
from another set into the current set
{'banana', 'apple', 'mango', 'pineapple', 'papaya', 'cherry'}
elements of a list
{'kiwi', 'banana', 'cherry', 'apple', 'orange'}

In [32]:
# To remove an item in a set, use the remove(), or the discard() method.
print("remove method : ")
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

print("discard method : ")
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

# You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.
print("pop method :")
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

# The clear() method empties the set
print("clear method ")
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

remove method :
{'cherry', 'apple'}
discard method :
{'cherry', 'apple'}
pop method :
banana
{'cherry', 'apple'}
clear method
set()

In [ ]:
# Join Sets
# here are several ways to join two or more sets in Python.
# The union() and update() methods joins all items from both sets.
# The intersection() method keeps ONLY the duplicates.
# The difference() method keeps the items from the first set that are not in the other set(s).
# The symmetric_difference() method keeps all items EXCEPT the duplicates.

# Union
print("Union")
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2) #you also use instead of the union() --> set3 = set1 | set2 
print(set3)

# Union Multiple Sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 | set4
print(myset)

# Update
# The update() method inserts all items from one set into another.
# The update() changes the original set, and does not return a new set.
# The update() method inserts the items in set2 into set1
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

# Intersection
# Join set1 and set2, but keep only the duplicates
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}  #Join sets that contains the values True, False, 1, and 0, and see what is considered as duplicates
set3 = set1.intersection(set2) #you also use instead of the intrsection() --> set3 = set1 & set2
print(set3)

# Difference
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)  #you also use instead of the difference() --> set3 = set1 - set2
print(set3)

# symmetric_difference()
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)  #you also use instead of the difference() --> set3 = set1 ^ set2
print(set3)